body {
    background-color: rgb(8, 7, 5);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #ffcc00;
    font-size: 3em;
    margin-top: 20px;
}

h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 20px;
}

p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    margin: 15px 10%;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

h2 + p,
h2 + ul {
    margin-top: 20px;
}

ul, p {
    margin-left: 10%;
    margin-right: 10%;
}

a {
    color: #ffcc00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00; 
}

.caption {
    text-align: center;
    margin: 20px auto;
  }
  
  .caption img {
    display: block;
    margin: 0 auto;
  }
  
  .caption p {
    margin-top: 10px;
    font-style: italic;
    color: #ccc;
    font-size: 1em;
  }

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin-left: 0;
        margin-bottom: 10px;
    }
}
