body {
    background-color: rgb(8, 7, 5);
}

h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}